<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>

<h1>Users</h1>

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>age</th>
    </tr>

    <tr th:each="u : ${users}">
        <td th:utext="${u.id}">id</td>
        <td th:utext="${u.name}">name</td>
        <td th:utext="${u.surname}">surname</td>
        <td th:utext="${u.age}">age</td>

    </tr>

</table>

<hr/>

<a href="/users/new">Create new user</a>

</body>
</html>